body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('/assets/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-placeholder {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

header .logo-placeholder img {
    width: 100%;
    height: 100%;
}

header .logo-placeholder:hover {
    transform: scale(1.2) rotate(360deg);
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover,
header nav ul li a:focus {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

.homepage .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.homepage h1 {
    font-size:
